@model ClinicalAutomationSystem_MVC_.Models.AddDrugModel
@{
    ViewBag.Title = "ViewEditDrug";
}

<h2>ViewEditDrug</h2>
@using (Html.BeginForm("ViewEditDrug", "Admin"))
{
    <div class="col-md-4">
        @{ Html.RenderPartial("_AdminMenu");}
    </div>
    <div class="col-md-8">

        <div>
            <table border="1">
                <tr>
                    <th>Drug Name</th>
                    <th>Used For</th>
                    <th>Mfg. Date</th>
                    <th>Exp. Date</th>
                    <th>Side Effects</th>
                    <th>Quantity</th>
                    <th>IsDeleted</th>
                    <th>Edit</th>
                    <th>Delete</th>


                </tr>

                @foreach (var item in Model.ListDrug)
                {
                    <tr>
                        <td>@item.DName</td>
                        <td>@item.Use</td>
                        <td>@item.MfgDate</td>
                        <td>@item.ExpDate</td>
                        <td>@item.SideEff</td>
                        <td>@item.Qtty</td>
                        <td>@item.IsDeleted</td>
                        <td><a href="@Url.Action("EditDrug","Admin",new{id=item.DrugId})"> Edit </a></td>
                        <td><a href="@Url.Action("DeleteDrug","Admin",new{id=item.DrugId})"> Delete </a></td>
                    </tr>
                }

            </table>
        </div>

    </div>


}
