

<div class="navbar navbar-inverse navbar-left navbar-form">
    <div class="container-fluid">

        @if (Request.IsAuthenticated && Session["name"] == null)
        {
        @Html.ActionLink("Home", "Index", "Doctor", new { area = "" }, new { @class = "navbar-brand" })<br /><br />
        @Html.ActionLink("Fill Details", "EditProfile", "Doctor", new { area = "" }, new { @class = "navbar-brand" })<br /><br />
        }
        else if(Session["name"] != null)
        {
        @Html.ActionLink("Home", "Index", "Doctor", new { area = "" }, new { @class = "navbar" })<br /><br />
        @Html.ActionLink("Edit Profile", "EditProfile", "Doctor", new { area = "" }, new { @class = "navbar" })<br /><br />
        @Html.ActionLink("Change Password", "ChangePassword", "Home", new { area = "" }, new { @class = "navbar" })<br /><br />
        @Html.ActionLink("View Appointments", "ViewAppointments", "Doctor", new { area = "" }, new { @class = "navbar" })<br /><br />
        @Html.ActionLink("View Message", "ViewMessage", "Doctor", new { area = "" }, new { @class = "navbar" })<br /><br />
        }

    </div>
</div>
