@model ClinicalAutomationSystem_MVC_.Models.PatientModel
@{
    ViewBag.Title = "ViewAllMessages";
}

<h2>ViewAllMessages</h2>
@using (Html.BeginForm("ViewAllMessages", "Patient"))
{
    <div class="col-md-4">
        @{ Html.RenderPartial("_PatientMenu");}
    </div>
    @*<div style="float:right;width:80%;padding-left:40px;">*@


    <div class="col-md-8">
        <div>
            <table class="table table-striped table-responsive" border="1">
                <tr>
                    <th>Message From</th>
                    <th>Message</th>
                    <th>Date</th>
                
                </tr>
                @foreach (var item in Model.ListApp)
                {
                    <tr>

                        <td>@item.FrmEmail</td>
                        <td>@item.MsgDetail</td>
                        <td>@item.MsgDate</td>
                    
                    </tr>
                }
            </table>
        </div>
        <div>
            @Html.HiddenFor(m=>m.MsgId)
            @Html.TextAreaFor(m => m.MsgDetail)
            <input type="submit" value="Send" />
        </div>
    </div>
}